*~
_junk/
rclone
rclone.exe
build
/docs/public/
/docs/.hugo_build.lock
/docs/static/img/logos/
rclone.iml
.idea
.history
.vscode
*.test
*.iml
fuzz-build.zip
*.orig
*.rej
Thumbs.db
__pycache__
.DS_Store
resource_windows_*.syso
.devcontainer
backend/alias/逻辑.md
附录/generate-script-on-synology.sh
附录/jellyfin-rename-season5-douluo.sh
附录/rclone-alist.service
附录/README-synology-service.md
附录/Docker/libfuse3-x86_64.tar.gz
附录/Docker/rclone.tar.gz
附录/synology-rclone-service.sh
